<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                Base title
            {% endblock %}
        </title>
    </head>
<body>
    <br>
    <div>
        <a href="{% url 'netbox:device_create' %}">Create Device</a>
    </div>
    <br>
    <div>
        <a href="{% url 'netbox:site_create' %}">Create Site</a>
    </div>
    <br>
    <br>
    {% block body %}
        Base body
    {% endblock %}
    </body>

    <footer>
    <hr>
    {% block footer %}
    {% endblock %}
    <br>
    <div>
        <a href="{% url 'netbox:device_list' %}">Back to the list</a>
    </div>
    </footer>
</html>