{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <b>Products:</b>
    <ul><ul class="list-group">
        {% for product in products  %}
        <li class="list-group-item">
            <a href="{{ url_for(
            'shop.details', product_id=product.id) }}">
                {{product.name}}
            </a>
        </li>
        {% endfor  %}
    </ul>

    <br>
    <br>
    <div>
        <a href="{{ url_for(
                'shop.add') }}">
                Add product
        </a>
            <br>
    <br>
                <a href="{{ url_for(
                'shop.list') }}">
                Go to products list
        </a>
    </div>

{% endblock %}

