{% extends 'netbox/base.html' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="list-group">
    <b>Devices:</b>
        {% for item in items %}
                <a href="{% url 'netbox:device_details' item.id %}"
                   class="list-group-item list-group-item-action" style="width: 15%">{{item.name}}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    <div>
        <a class="btn btn-secondary" href="{% url 'netbox:site_list' %}">Back to the site list</a>
    </div>
{% endblock %}