{% extends 'netbox/base.html' %}

{% block title %}
    {{ items.full_name }}
{% endblock %}
{% block body %}
    <h3>Site {{ items.site }}</h3>
    <div>
        <p>Full name: {{ items.full_name }}</p>
        <p>Address: {{ items.address }}</p>
    </div>
    <div>
        <a class="btn btn-secondary" href="{% url 'netbox:site_dev_list' items.pk%}">Devices</a>
    </div>
    <br>
{% endblock %}

{% block footer %}
    <div>
        <a class="btn btn-primary" href="{% url 'netbox:site_update' items.pk %}">Update the site</a>
    </div>
    <br>
    <div>
        <a class="btn btn-danger" href="{% url 'netbox:site_delete' items.pk %}">Delete the site</a>
    </div>
{% endblock %}