{% extends 'base.html' %}
{% block title %}
    Add product
{% endblock %}

{% block body %}
    <h1>Add product</h1>
    <form method='post'>
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name(size=20) }}
        {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <br>
        {{ price.hidden_tag() }}
        {{ price.name.label }}
        {{ price.name(size=20) }}
        {% if price.name.errors %}
            <ul class="errors">
                {% for error in price.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
                <br>
        <br>
        {{ description.hidden_tag() }}
        {{ description.name.label }}
        {{ description.name(size=200) }}
        {% if description.name.errors %}
            <ul class="errors">
                {% for error in description.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <br>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
    <br>
    <br>
    <div>
        <a href="{{ url_for(
                'shop.list') }}">
                Back to list
        </a>
    </div>
{% endblock %}